@font-face {
    font-family: Assistant;
    font-weight: normal;
    src: url(fonts/Assistant-Regular.woff);
}

@font-face {
    font-family: Assistant;
    font-weight: 700;
    src: url(fonts/Assistant-Bold.woff);
}

@font-face {
    font-family: semibold;
    src: url(fonts/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2);
}

@font-face {
    font-family: semi;
    src: url(fonts/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Assistant;
}

.header-wrapper {
    /* z-index:3; */
    padding-bottom: 25px;
}


.desktop-container {
    display: block;
    color: #fff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;

}

.desk-bound-wrap {

    margin: auto;
    min-width: 980px;
    line-height: 80px;
}

.desktop-logo-container {

    float: left;
    height: 80px;
    line-height: 80px;
    margin-left: 4%;
}

.logo-block {
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    background-position: -462px 0;
    width: 53px;
    height: 36px;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.desk-navbar-left-side {

    display: block;
    float: left;
    line-height: 80px;
    height: 80px;
    margin: 0 0 0 1%;
    box-sizing: border-box;

}

.desk-nav-contents-list {
    display: inline-block;
    float: left;




}

.desk-nav-list-single-block {

    float: left;
    border: hidden;
    text-align: center;
    box-sizing: border-box;


}

.desk-nav-list-wrapper {
    display: inline;
    box-sizing: border-box;






}

.desk-nav-final-list-block {
    padding: 0 17px 28px;
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    border-bottom: none;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    box-sizing: border-box;

}

.new-text-desk {
    display: inline;
    font-size: 10px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ff3f6c;
    /* content: "new"; */
    box-sizing: border-box;
    margin: 0 0 34px -16.25px;
    text-align: center;


}

.new-text-desk sup {

    font-size: 100%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    text-transform: uppercase;
    top: -6.4px;
    /* margin-left:-2.75px; */

}

.nav-desk-right-side {
    float: right;
    display: flex;
    line-height: 0;
    height: 40px;
    margin: 20px 30px 0 10px;
    margin-right: 0;
}

.desk-nav-user-icon {
    position: relative;
    height: 60px;
    margin: 0 20px 0 15px;
}

.user-icon-container-desk {
    padding: 0 12px 0 17px;
    position: relative;
    display: flex;
    height: 40px;
}

.user-icon-img-desk {
    margin: 10px 0 0;
    position: absolute;
    bottom: 13px;
    left: 5px;
    display: block;
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    width: 24px;
    height: 24px;
    background-position: -298px -56px;
    background-size: 1404px 105px;
}

.desk-profile {
    color: #000;
    position: absolute;
    bottom: 4px;
    left: 1px;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    padding-top: 10px;
    line-height: 6px;
}

.desk-wishlist {
    margin: 0 55px 0 10px;
    display: flex;
    text-decoration: none;
    position: relative;

}

.wish-icon-img-desk {
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    display: inline-block;
    margin: 8px 0 0;
    position: absolute;
    bottom: 14px;
    left: 13px;
    width: 17px;
    height: 22px;
    background-position: -315px -187px;
}

.desk-wishlist-text {
    color: #000;
    position: absolute;
    bottom: 4px;
    left: 1px;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    padding-top: 10px;
    line-height: 6px
}



.desk-bag {
    display: flex;
    text-decoration: none;
    position: relative;
    margin: 0 50px 0 15px;

}

.bag-icon-img-desk {
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    display: inline-block;

    width: 22px;
    height: 22px;
    background-position: -341px -56px;

    margin: 8px 0 0;
    position: absolute;
    bottom: 14px;
    left: -1px;
}

.desk-bag-text {
    color: #000;
    position: absolute;
    bottom: 4px;
    left: 1px;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    padding-top: 10px;
    line-height: 6px;
}

.desktop-query-block {
    margin: 20px 20px 20px 40px;
    float: right;
    line-height: 0;
    position: relative;
    width: 320px;
    margin-right: 8px;
}

.desktop-query-block input {
    width: 95%;
    border: 1px solid #f5f5f6;
    border-radius: 0 4px 4px 0;
    border-left: 0;
    background: #f5f5f6;
    padding: 8px 10px 10px;
    margin: 0;
    outline: 0;
    display: inline-block;
    float: left;
    font-size: 14px;
    line-height: 24px;
    height: 20px;
    box-sizing: content-box;
    color: #696e79;
}

.desk-search-icon {
    text-decoration: none;
    color: #282c3f;
    text-align: center;
    padding: 8px 0 2px;
    background: #f5f5f6;
    border: 1px solid #f5f5f6;
    border-right: none;
    border-radius: 4px 0 0 4px;
    position: absolute;
    left: -41px;
    box-sizing: content-box;
    display: inline-block;
    height: 28px;
    width: 40px;
}

.desk-icon-img-blk {
    display: inline-block;
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    width: 21px;
    height: 21px;
    background-position: -754px 0;
    transform: scale(.7);


}

.desk-main-search-base {
    display: block;
    margin: 58px auto 0;
}

.desk-row-base {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    box-sizing: content-box;


    margin-top: -1px;

}

.row-base-side-list {
    vertical-align: top;
    padding: 20px 0 0;
    box-sizing: content-box;


}

.side-list-ul {
    list-style: none;
    font-size: 14px;
    overflow: hidden;
    display: inline-block;
    margin: 0 0 0 25px;
    vertical-align: top;
    padding-left: 0;
    box-sizing: content-box;

    margin-top: -1px;
}

.side-list-li {
    text-decoration: none;
    box-sizing: content-box;
    font-size: 14px;
    display: inline-block;
    float: left;
    margin-right: 5px;
    text-transform: capitalize;
    line-height: 1;

}


.side-list-li::after {

    font-size: 14px;
    content: "/";
    margin-left: 2.25px;
    color: #282c3f;
    box-sizing: content-box;

}

.desk-list-a {

    color: #282c3f;
    text-transform: capitalize;
    background-color: transparent;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    box-sizing: content-box;

}

.desk-list-a span {
    box-sizing: content-box;

}

.special-li {
    font-size: 14px;
    display: inline-block;
    float: left;
    margin-right: 5px;
    text-transform: capitalize;
    line-height: 1;
    text-decoration: none;
}

.special-li::after {
    clear: both;
    content: " ";
    display: table;
}

.side-list-li .special-bold-a {
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    box-sizing: content-box;
    /* font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif; */
}


/* --------second---row-base */

.desk-title-container {
    display: flex;
    align-items: center;
    max-width: 1000px;
    overflow: hidden;
    margin: 10px 0 5px 25px;
    box-sizing: content-box;


}

.desk-title-title {
    display: inline-block;
    font-size: 16px;
    margin: 0;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #282c3f;
    max-width: 400px;
    text-transform: capitalize;
    box-sizing: content-box;

}

.desk-title-count {
    display: inline-block;
    font-size: 16px;
    margin: 0;
    color: #878b94;
    white-space: pre-wrap;
}

.desk-search-left-container {
    box-sizing: content-box;
    align-self: flex-start;
    min-width: 252px;
    max-width: 252px;
    flex-direction: column;
    flex-grow: 0;
    flex: 1 1 0%;

}

.desk-vertical-filters {
    margin-top: 0;
    padding-top: 23px;
    box-sizing: border-box;
    position: static;
}

.desk-vertical-filter-filter {
    padding-bottom: 15px;
    padding-left: 25px;
    border-bottom: 1px solid #e9e9ed;
    position: relative;
    border-right: none !important;
    padding-top: 0;
}

.desk-filter-header-title {
    font-weight: 700;
}

.desk-vertical-filter-category {
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 25px;
    border-bottom: 1px solid #e9e9ed;
    border-right: 1px solid #edebef;
    position: relative;
}

.desk-vertical-filter-catg-text {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 0 18px;
    clear: both;
    color: #282c3f;
    display: block;
}

.desk-categories-list-ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.desk-checkbox-li {
    font-size: 14px;
    margin-bottom: 7px;
}

.common-checkbox {
    display: block;
    width: 95%;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    min-height: 17px;
    color: #282c3f;
}

.common-checkbox input {
    overflow: visible;
    box-sizing: border-box;
    padding: 0;
    margin: 0 16px 0 0;
    visibility: hidden
}

.desk-categories-num {
    color: #94969f;
    font-size: 11px;

    margin-left: 1.25px;
}


.desk-common-checkboxindicator {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #c3c2c9;
    background: #fff;
    border-radius: 2px;
}

.desk-vertical-filters-brand-container {
    border-right: 1px solid #edebef;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 25px;
    border-bottom: 1px solid #e9e9ed;
    position: relative;
}

.desk-filter-searchbox {
    position: absolute;
    top: 12px;
    right: 14px;
    width: 30px;
    height: 30px;
    background-color: #f5f5f6;
    border-radius: 50%;
}

.desk-brand-search-icon {
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    width: 21px;
    height: 21px;
    background-position: -754px 0;
    right: 4px;
    top: 4px;
    transform: scale(.7);
    display: inline-block;
    position: absolute;
    cursor: pointer;
}

.desk-brand-more {
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
    color: #ff3f6c;
    margin-left: 27px;
}


.desk-categories-list-ul :last-child {
    margin-bottom: 0;
}

.desk-vertical-price-container {
    border-right: 1px solid #edebef;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 25px;
    border-bottom: 1px solid #e9e9ed;
    position: relative;
}


.desk-slider-slidercontainer {
    margin: 12px 0 4px;
}


.desk-slider-root {
    margin-right: 16px;
    width: 200px;

}

.desk-slider-rootrail {

    height: 12px;
    background-color: #fff;
    position: relative;

}

.desk-root-railbar {
    width: 200px;
    height: 2px;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #d4d5d9;
    position: absolute;
}

.desk-slider-root-railrange {
    height: 2px;
    top: 5px;
    background-color: #ff3f6c;
    position: absolute;
    left: 0px;
    right: 0px;
}

.desk-slider-rootrailthumbleft {
    position: absolute;
    top: 0;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #ff3f6c;
    outline: none;
    left: 0px;
    transform: translateX(-75%);
}


.desk-slider-thumb-dot {
    background: #fff;
    top: 4px;
    left: 4px;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
}

.desk-slider-thumb-right {
    position: absolute;
    top: 0;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #ff3f6c;
    outline: none;
    transform: translateX(-25%);
    left: 200px;
}

.desk-slider-dot-container {
    display: block;
    box-sizing: border-box;
    margin: 10px -4px 0 4px;
    font-size: 12px;
    font-weight: 600;
    height: 16px;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;

}

.desk-color-ul {
    list-style: none;
    padding-left: 0;


}

.desk-color-li {
    display: block;
    position: relative;
    margin: 0 10px 0 0;
    font-size: 14px;
    margin-bottom: 7px;

}

.color-section {
    margin-left: 4px;
}

.color-display {
    position: relative;
    line-height: 16px;
    vertical-align: top;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    margin-left: 27px;
    background-color: rgb(54, 69, 79);

}

.color-display.white {
    background-color: rgb(255, 255, 255);
    border: 1px solid #d6d6d6;
}

.color-display.blue {
    background-color: rgb(0, 116, 217);
}

.color-display.green {
    background-color: rgb(94, 177, 96);
}

.color-display.navyb {
    background-color: rgb(60, 68, 119);
}


.color-display.grey {
    background-color: rgb(159, 168, 171);
}

.color-display.red {
    background-color: rgb(211, 75, 86);

}

.desk-color-more {
    cursor: pointer;
    display: block;
    margin-left: 27px;
    margin-top: 10px;
    color: #526cd0;
}

.desk-color-more span {
    display: block;
    font-size: 15px;
    color: #ff3f6c
}

.vertical-filter-discount {
    position: relative;
    border-right: 1px solid #edebef;
    padding-left: 25px;
    padding-top: 20px;

}

.vertical-filter-discount:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.desk-discount-list {
    list-style: none;
    padding-left: 0;
}

.desk-discount-li {
    font-size: 14px;
    margin-bottom: 7px;
}

.common-checkbox-discount {
    position: relative;
    vertical-align: middle;
    display: block;
    width: 95%;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 17px;
    color: #282c3f;
}

.desk-discount-li input {
    box-sizing: border-box;
    padding: 0;
    overflow: visible;
    margin: 0 16px 0 0;
    visibility: hidden;
}

.desk-common-radioindicator {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}

.color-display.navyblue {
    background-color: rgb(60, 68, 119);
}


.desk-common-radioindicator::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 16px;
    height: 16px;
    border: 1px solid #c3c2c9;
    border-radius: 50%;
    visibility: visible;
    display: inline-block;
    vertical-align: middle;
    padding: 2px;
    text-align: center;
    box-sizing: border-box;
}

.search-right-container {
    padding-left: 0;
    flex: 1 1 0%;
    align-self: flex-start;
    box-sizing: content-box;
    flex-direction: column;

}

.desk-right-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.horizontal-filters {
    display: block;
    box-sizing: content-box;
    border-bottom: 1px solid #eaeaec;
    padding-bottom: 15px;
    padding-top: 23px;
    width: 100%;

}

.horizontal-wrapper {
    display: block;
    box-sizing: content-box;
}

.desk-hori-sort-container {
    display: inline-block;
    float: right;
    margin-right: 30px;
    margin-bottom: 0;
    margin-top: -7px;
    position: relative;
    top: 5px;
}

.sort-container-child {
    display: block;
    box-sizing: content-box;
}

.sort-container-child-sortby {
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #d4d5d9;
    padding: 9px 14px;
    font-size: 14px;
    color: #282c3f;
    cursor: pointer;
    position: relative;
    width: 255px;
}

.sort-container-child-sortby span {
    text-transform: capitalize;
    font-weight: 700;
    color: #282c3f;
}

.desk-myntra-website-arrow {

    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    display: inline-block;
    background-position: -367px -1px;
    width: 15px;
    height: 10px;
    margin-left: 5px;
    margin-top: 5px;
    float: right;
    text-transform: capitalize;
    font-weight: 700;
    color: #282c3f;

}

.base-div-ul-wrapper {
    display: block;
    box-sizing: content-box;

}

.straight-filter-section-ul {

    font-size: 14px;
    display: flex;
    color: #282c3f;
    flex-flow: row wrap;
    margin: -10px 0 0 16px;
    padding-left: 0;
    list-style: none;
    box-sizing: content-box;

    /* width: 255px;
    background-color: #fff;
    position: absolute;
    top: 33px;
    left: -1px;
    margin: 0;
    padding: 16px 0;
    z-index: 2;
    display: none;
    border: 1px solid #d4d5d9;
    border-top: none;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, .08); */

}

.filter-desk-li {
    margin-right: 4px;
    margin-bottom: 0;
    margin-top: 10px;
    cursor: pointer;
    box-sizing: content-box;
}

.filter-desk-li label {
    position: relative;
    padding: 5px 8px 5px 10px;
    cursor: pointer;
    white-space: nowrap;


}

.desk-bundles {
    font-weight: 400;
    margin: 0;
    display: inline-block;
    overflow: visible;

    padding-left: 0;
    font-weight: normal;
    /* background-color: red; */
}

.desk-arrow-arrowbold {
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    display: inline-block;
    background-position: -2679px -89px;
    width: 15px;
    height: 15px;
    transform: scale(.8);
    margin-left: 4px;
    vertical-align: middle;
}

.desk-card-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    padding-top: 24px;
    padding-left: 15px;
    padding-right: 20px;
    box-sizing: content-box;

}

.card-width-max-section {
    display: block;
    width: 100%;
    box-sizing: content-box;

}



.desk-card-section-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-between;
    width: 100%;
    margin: 0 -10px 0 3px;
    padding-left: 0;
    box-sizing: content-box;
    list-style: none;

}

.desk-single-card-li {
    box-sizing: border-box;
    margin: 0 10px 30px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    width: 210px;
    text-align: left;
}

.desk-product-f-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 210px;
    background-color: #282c3f;
    visibility: hidden;
    opacity: 0;
    box-sizing: border-box;
}

.desk-product-watermark-ad {
    display: block;
    box-sizing: border-box;
    position: absolute;
    background-color: #a9abb3;
    border-radius: 2px;
    top: 9px;
    right: 10px;
    padding: 0 2px;
    font-size: 10px;
    color: #fff;
    z-index: 1;
}

.desk-card-full-block {
    display: block;
    text-decoration: none;
    box-sizing: border-box;

}

.desk-card-image-container {
    display: block;
    box-sizing: border-box;
    position: relative;
    width: 210px;
    height: 280px;

}

.desk-card-img-wrapper {
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /* background: rgb(255, 237, 243); */
    background: rgb(255, 242, 223);
}

.desk-card-width-max-block {
    display: block;
    box-sizing: border-box;
    height: 280px;
    width: 100%;
}

.card-img-responsive-div {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.card-img-responsive-div img {
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.desk-card-information-div {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    z-index: 3;
    background: #fff;
    padding: 0 10px;
    height: 100%;
    margin-top: 12px;

}

.desk-product-header {
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #282c3f;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 0px;
}

.desk-product-mini-header {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    display: block;
    color: #535766;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

.desk-card-product-money {

    display: block;
    margin: 10px 0 6px;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    color: #282c3f;
    white-space: nowrap;
}

.desk-money-money {
    box-sizing: border-box;
}

.desk-price-discounted {
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    color: #282c3f;

}

.desk-price-linethrough {
    box-sizing: border-box;
    text-decoration: line-through;
    color: #7e818c;
    font-weight: 400;
    margin-left: 5px;
    font-size: 12px;
}

.desk-price-off {
    box-sizing: border-box;
    color: #ff905a;
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
}

.desk-few-left-text {
    display: block;
    color: #ff5722;
    font-weight: 700;
    text-align: left;
    font-size: 12px;
}

/* #mountRoot > div > main > div:nth-child(3) > div.search-leftContainer.column-base > section > div > div:nth-child(5){
    margin-top:10px;
} */

.desk-product-ratings {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    padding: 0 0 0 4px;
    background-color: hsla(0, 0%, 100%, .8);
    z-index: 1;
    position: absolute;
    margin-left: 10px;
    margin-top: 250px;
    font-size: 12px;
    font-weight: 700;
}

.myntra-star-desk-icon {
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    display: inline-block;
    background-position: -171px -28px;
    width: 24px;
    height: 24px;
    transform: scale(.55);
    margin-left: -2px;
    box-sizing: border-box;
}


.desk-product-rating-count {
    display: flex;
    box-sizing: border-box;
    display: flex;
    padding-right: 4px;

}



.desk-price-margin-div {
    display: block;
    margin-top: -0.5px;
    margin-left: -2px;
    margin-bottom: 0px;
    margin-right: 6px;
    font-size: 10px
}

.desk-uotooff {
    display: block;
    box-sizing: content-box;
    position: fixed;
    bottom: 130px;
    width: 44px;
    height: 288px;
    background-color: #535766;
    z-index: 6;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    right: 0;

}

.desk-free-arrow {
    display: block;
    box-sizing: content-box;
    width: 0;
    height: 0;
    margin: 24px 16px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 14px solid #fff;
}

.desk-text-upto {
    display: inline-block;
    box-sizing: content-box;
    margin-block-start: 0;
    color: #fcfcfc;
    margin-block-end: 0;
    width: 36px;
    padding: 4px;
    height: 200px;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;


}

.desk-pagination-showmore {
    display: block;
    box-sizing: border-box;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;

}

.pagination-cwrapper-ul {
    display: block;
    box-sizing: border-box;
    list-style: none;
    text-align: center;
    border-top: 1px solid #edebef;
    padding-top: 24px;
    padding-bottom: 60px;
    color: #282c3f;
    padding-left: 0;
    margin-top: 16px;
    margin-bottom: 16px;
}

.pagination-desk-page1-text-li {
    display: inline-block;
    box-sizing: border-box;
    margin-right: 9px;
    font-weight: 700;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 2px;
    pointer-events: none;
    opacity: .6;

}

.pagination-desk-double-arrow {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    width: 16px;
    height: 8px;
    margin-right: 8px;

}

.pagination-desk-double-arrow::before {
    display: block;
    box-sizing: border-box;
    content: "";
    position: absolute;
    top: 0;
    width: 8px;
    height: 8px;
    border: solid #282c3f;
    border-width: 2px 2px 0 0;
    transform: rotate(224deg);
    left: 0;


}

.pagination-desk-double-arrow::after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    top: 0;
    width: 8px;
    height: 8px;
    border: solid #282c3f;
    border-width: 2px 2px 0 0;
    transform: rotate(224deg);
    left: 8px;

}

.pagination-desk-previous {
    height: 42px;
    border-radius: 4px;
    border: 1px solid #d4d5d9;
    text-align: center;
    margin-right: 64px;
    padding: 10px 22px;
}

.desk-pag-arrow-left {
    display: inline-block;
    width: 8px;
    height: 8px;
    border: solid #282c3f;
    border-width: 2px 2px 0 0;
    margin-bottom: 1px;
    transform: rotate(224deg);
    margin-left: 2px;
    margin-right: 8px;
    display: inline-block;
    box-sizing: border-box;
}

.pagination-desk-pagenumber {
    display: inline-block;
    padding: 6px 8px;
    border-radius: 2px;
    color: #535766;
    font-size: 14px;
    margin-top: 6px;
    margin-right: 10px;
    cursor: default;
    font-weight: 400;
}

.desk-pagination-next-text {
    display: inline-block;
    height: 42px;
    border-radius: 4px;
    border: 1px solid #d4d5d9;
    text-align: center;
    margin-left: 64px;
    padding: 10px 22px;
    box-sizing: border-box;

    font-weight: 700;
}

.desk-pag-next-arrow-right {
    display: inline-block;
    box-sizing: border-box;
    transform: rotate(45deg);
    margin-right: 2px;
    margin-left: 8px;
    width: 8px;
    height: 8px;
    border: solid #282c3f;
    border-width: 2px 2px 0 0;
    margin-bottom: 1px;
}

.footer-start-section {
    display: block;
    box-sizing: content-box;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.desk-footer-empty-sec {
    display: block;
    box-sizing: content-box;
    margin-top: 50px;
}

.footer-position-r {
    display: block;
    box-sizing: content-box;
    position: relative;


}

.desk-wrapp-footer {
    display: block;
    box-sizing: content-box;

}

.footer-desk-style {
    display: block;
    box-sizing: content-box;
    position: relative;
    z-index: 5;
    padding: 30px 0px 40px 0px;
    background: #FAFBFC;



}

.desk-footer-container {
    display: block;
    box-sizing: content-box;
    max-width: 1080px;
    margin: auto;
    min-width: 980px;
}

.foot-padding-before-block {
    display: block;
    box-sizing: content-box;
}

.foot-core-container {
    display: block;
    box-sizing: content-box;
    padding: 20px 0 60px;
    color: #535766;
    width: 100%;
    text-align: justify;
    overflow: hidden;
}

.desk-right-side-price-container {
    display: block;
    box-sizing: content-box;
    font-size: 12px;
    float: right;
    padding-left: 30px;
    max-width: 380px;
}

.desk-men-tshirt-list {
    display: block;
    box-sizing: content-box;
    margin-bottom: -10px;
    margin-top: 30px;

    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #696b79;
    font-size: 16px;
}

.desk-right-side-price-container table {
    display: table;
    box-sizing: content-box;
    border-collapse: collapse;
    margin-top: 40px;
}

/* .desk-right-side-price-container thead{
    display:table-header-group;
    box-sizing: content-box;
    vertical-align:middle;
} */

.desk-right-side-price-container th {
    text-align: left;
    padding: 8px;
    box-sizing: content-box;
}

.desk-right-side-price-container tbody {
    box-sizing: content-box;

}

.desk-right-side-price-container tr {
    box-sizing: content-box;
}

.desk-right-side-price-container td {
    text-align: left;
    padding: 8px;
    box-sizing: content-box;
}

.desk-right-side-price-container a {

    background-color: transparent;
    text-decoration: none;
    color: #282c3f;
    box-sizing: content-box;
}

.desk-right-side-price-container #td-id {
    text-align: left;
    padding: 8px;
    white-space: nowrap;
}

.desk-index-date-text {
    display: block;
    box-sizing: content-box;
    font-style: italic;
    padding: 10px 0 0 6px;
    font-weight: 700;
}

.desk-foot-left-sec-container {
    display: block;
    box-sizing: content-box;
    font-size: 14px;
    line-height: 1.5;
    margin: 20px 0;
    color: #7e818c;
    width: 61%;
}

.desk-foot-left-sec-container p:first-child {
    margin-top: 0;
}



.desk-foot-left-sec-container strong {


    color: #696b79;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}

.desk-foot-left-sec-container p {
    display: block;
    box-sizing: content-box;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 14px;
    margin-top: 14px;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.desk-foot-left-sec-container a {
    font-weight: 700;
    color: #7e818c;
    text-decoration: none;
    background-color: transparent;
}

.desk-foot-left-sec-container h3 {
    display: block;
    box-sizing: content-box;
    font-size: 16.38px;
    font-weight: 700;
    margin-bottom: -10px;
    margin-top: 30px;

}

/* .desk-foot-left-sec-container li{
    display:list-item;
    box-sizing: content-box;
    font-size: 16.38px;
    line-height:24.57px;
    font-weight:700;
} */

.desk-foot-left-sec-container h2 {
    display: block;
    box-sizing: content-box;
    font-size: 21px;
    font-weight: 700;
    line-height: 31.5px;
    margin-bottom: -10px;
    margin-top: 30px;
}

.desk-footer-info {
    display: block;
    box-sizing: content-box;
    overflow: hidden;
    margin-bottom: 24px;
}

.desk-box-left-contents {
    display: block;
    box-sizing: content-box;
    float: left;
    width: 155px;
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
}

.desk-box-left-info-title {
    display: block;
    box-sizing: content-box;
    font-size: 12px;
    font-weight: 700;
    margin-top: 12px;
    margin-bottom: 12px;
}


.desk-box-left-info-title a {
    background-color: transparent;
    text-decoration: none;
    color: #282c3f;
    font-size: 12px;
    font-weight: 700;
}

.desk-box-left-contents>a:nth-child(2) {
    padding-top: 14px;
}

.desk-box-left-contents>a {
    color: #696b79;
    display: block;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
    cursor: pointer;
}

.desk-customer-policies-div {
    display: block;
    box-sizing: content-box;
    width: 15%;
    float: left;
}

.desk-customer-experience {
    display: inline-block;
    box-sizing: content-box;
    vertical-align: top;
    padding-right: 20px;
    width: 360px;
    font-size: 15px;
    line-height: 19px;
    float: left;
    padding-top: 13px;
}

.desk-box-left-info-title {
    font-weight: 700;
    font-size: 12px;

}

.desk-customer-policies-div {}

.desk-customer-policies-div>a {
    color: #696b79;
    display: block;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
    cursor: pointer;
    line-height: normal;
}

.desk-customer-policies-div>a:nth-child(2) {
    padding-top: 14px;

}

.desk-app-experience {
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
    width: 360px;

    font-size: 15px;
    line-height: 19px;
    float: left;
    padding-top: 13px;
}


.desk-app-experience>p:first-child {
    font-weight: 700;
    color: #282c3f;

    margin: -3px 0 0;
    padding: 0 0 25px;
}

.desk-blank-container {
    width: 0;
    height: 88px;
}

.desk-keep-in-touch {
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 700;
    margin-top: 20px;
}


.desk-promises {
    display: block;
    box-sizing: content-box;
    width: 250px;
    float: left;


}

.desktop-section {
    display: block;
    box-sizing: content-box;
    margin: 15px 0 30px;
    color: #696b79;
}

.desk-original {


    display: inline-block;
    float: left;
    margin-left: -10px;
    margin-right: 10px;
    width: 47.5px;
    height: 40px;
    box-sizing: content-box;

}

.desk-place-empty {
    display: block;
    box-sizing: content-box;
    height: 40px;
}


.desktop-section strong {
    color: #282c3f;
    font-weight: 700;
}

.desk-popular-searches {
    display: block;
    box-sizing: content-box;

}

.desk-popular-searches hr {
    display: block;
    box-sizing: content-box;
    overflow: visible;
    border: 1px;
    height: 1px;
    background-color: #eaeaec;
}

.desktop-searches-title-p {
    display: block;
    box-sizing: content-box;
    position: absolute;
    margin-top: -15px;
    background: #fafbfc;
    padding-right: 10px;
    color: #282c3f;
    font-size: 12px;
    font-weight: 700;


}

.desktop-search-link-p {
    display: block;
    box-sizing: content-box;
    margin-top: 30px;
}

.desktop-search-link-p>a {
    text-decoration: none;
    color: #696b79;
    font-size: 15px;
    line-height: 25px;
    background-color: transparent;
}


.desktop-search-link-p>a:after {
    content: "|";
    margin-left: 3px;
}

.desk-last-foot-sec {
    display: flex;
    box-sizing: content-box;
    width: 100%;
    margin-top: 40px;
}

.desktop-contact-info {
    display: block;
    box-sizing: content-box;
    flex: 1;
    color: #696b79
}

.desktop-contact-info>a {
    text-decoration: none;
    font-weight: 700;
    color: #526cd0;
    background-color: transparent;
}

.desk-copy-right-sec {
    display: block;
    box-sizing: content-box;
    flex: 1;
    color: #94969f;
    margin-left: 100px;
}

.desktop-flipkart-company {
    display: block;
    box-sizing: content-box;
    flex: 1;
    text-align: end;
}

.desktop-flipkart-company>a {
    color: #94969f;
    text-decoration: none;
    background-color: transparent;
}


.desk-blue-bell{
    display:flex;
    position: fixed;
    justify-content: flex-end;
    z-index: 2147483645;
    bottom: 80px;
    right: 21px;
}

.desk-bell-flex{



        display: flex
;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 100px !important;
    cursor: pointer;
    z-index: 2147483647;
    background-color: rgb(29, 133, 252);
        box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
        transform: scale(1);
    opacity: 1;
        width: 44px;
    height: 44px;
}

.desk-bell-flex svg{
    overflow:hidden;
    width: 38px;
    height: 38px;
    stroke: white;
    transform: rotate(0deg);
        display: block;
}