@media (max-width: 767px) {

    .desktop {
        display: none !important;
    }

    .mobile-view {
        display: contents !important;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .mobile-view {
       display:block;
       

    }

    .mb-layout{
         display:block;
       position: relative;
    }

    .mb-nav-container {
        display: block;
        background-color: #fff;
        position: fixed;
        z-index: 100;
        width: 100%;
        box-shadow: 0 1px 2px 0 rgba(148, 150, 159, .3);


    }

    .mb-header-arrow-icon {
        display: inline-block;

    }

    .mb-header-arrow-icon a {
        display: inline-block;
        background-color: transparent;
        color: #282c3f;
        text-decoration: none;
        outline: 0;




    }

    .mb-header-arrow-icon svg {

        margin-left: 16px !important;
        display: inline-block;
        vertical-align: top;
        width: 24px;
        height: 24px;
        margin: 16px 16px 16px 0;
    }

    .mb-myntra-logo {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin: 16px 16px 16px 0;

        margin-left: 0;
        display: inline-block;
        vertical-align: top;
    }

     .mb-myntra-logo svg{
        overflow:hidden;
     }
    .mb-header-title {
        display: inline-block;
        position: relative;
        font-weight: 700;
        font-family: Assistant;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: normal;
        width: calc(100% - 260px);
        text-transform: capitalize;
        font-size: 16px;
        vertical-align: top;
        top: 11px;

    }

    .mb-header-first-heading {
        font-weight: 700;
        font-family: "Times New Roman";
    }

    .mb-header-sub-heading {
        font-size: 12px;
        font-weight: 400;
        font-family: "Times New Roman";

    }

    .mb-header-actions-right {
        display: inline-block;
        float: right !important;
    }

    .mb-first-add-icon {
        display: inline-block;
        height: 22px;
        margin: 17px 16px 16px 0;
        position: relative;
        top: 1px;
        vertical-align: top;

    }

    .mb-header-search-icon {
        width: 24px;
        height: 24px;
        margin: 16px 16px 16px 0;
        display: inline-block;
    }

    .mb-header-search-icon a {

        color: #282c3f;
        text-decoration: none;
        outline: 0;
    }

    .mb-heart-icon {
        
        display:inline-block;
        width: 24px;
        height: 24px;
        margin: 16px 16px 16px 0;
    }


















}